[Desktop Entry]
Type=Application
Name=Turn Aero7 features on or off
GenericName=Optional Features
Comment=Install or remove optional Aero7 system features
Exec=aero7-optional-features
Icon=aero7-optional-features
Categories=Settings;System;
Keywords=features;optional;components;aero7;windows;control panel;
NoDisplay=false
